name: Update Rules List

on:
  workflow_dispatch:  # 手动触发工作流
  schedule:
    - cron: '0 16 * * *'  # 每天0点执行一次

jobs:
  update-rules-list:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: 安装依赖
        run: |
          sudo apt-get update
          sudo apt-get install -y curl jq

      - name: 下载规则列表
        run: |
          curl -L https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-ai-!cn.list -o ai-domains.list

      - name: 添加AI域名规则匹配
        run: |
          # 为每一行加上 DOMAIN-SUFFIX, 前缀
          echo "生成AI规则文件"
          echo '# 内容：Chatgpt Domains' > ChatGPT.list
          echo "# 数量：$(wc -l < ai-domains.list)"条 >> ChatGPT.list
          echo -e "# 更新：$(date +'%Y-%m-%d %H:%M:%S')\n" >> ChatGPT.list
          sed 's/^/DOMAIN-SUFFIX,/g' ai-domains.list >> ChatGPT.list
          # 将修改后的文件移动到目标目录
          mv Chatgpt.list custom/ChatGPT.list

      - name: Commit Changes
        run: |
          # 提交更新
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add custom/Chatgpt.list
          git commit -m "Update Chatgpt.list with AI domains"
          git push
